
h1,h2,h3{
    font-style:bold;
    margin: 0%;
    height: auto;
}

h1,h2,h3,h4,p{
    margin: 0%;
    height: auto;
    font-family: Helvetica;
    color: #FFFFFF;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;;
}

h3{
    font-size: 1.2rem;;
}

h4{
    font-size: 1rem;
}

h4.fino{
    font-weight: lighter;
}

.oculto{
    display: none;
}

/* footer y header ----------------------------------------------------------------------- */

header{
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #440441;
    margin: 0px;
    padding: 3%;
}

.head-derecha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    align-items: center;
}

.btn-ham{
    height: 50px;
    width: 50px;
    background-color: #7236BD;
    margin: 0px 7px;
    border-radius: 10px;
    cursor: pointer;
}

.perfil,.perfil-grande{
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: .4s ease-in-out all;
}

.perfil{
    height: 50px;
    width: 50px;
}

.perfil-grande{
    transform: scale(1.3);
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu-usuario , .menu-usuario2{
    background-color: #660561;
    height: auto;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: end;
    position: absolute;
}

.menu-usuario{
    right: 0; 
}

.menu-usuario2{
    left: 0;
}

.cont {
    text-transform: uppercase;
	transition: .3s ease all;
	position: relative;
	overflow: hidden;
}

.cont span, .menu-usuario2 .cont span  {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 60px;
    padding: 7% 5%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.cont span{
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}

.menu-usuario2 .cont span {
    grid-template-columns: 1fr;
}

.cont::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 100px);
	border-bottom: 100px solid #970891;
	border-right: 100px solid transparent;
	transition: .4s ease-in-out all;
}

.cont:hover::after {
	left: 0;
}

.cont img{
    height: 85%;
    width: 85%;
}

.cont .img-cerrar{
    height: 90%;
    width: 70%;
}

.cont .img-usuario, .cont .img-ajustes{
    height: 90%;
    width: 75%;
}

.cont h2{
    width: auto;
    padding: 0px 10px;
    text-align: center;
}

footer{
    background-color: #440441;
    margin-top: 3%;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-footer{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.texto-footer p{
    display: flex;
    justify-content: center;
    margin: 0;
}

.texto-footer{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.texto-footer h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

footer img{
    margin-top: 7%;
}

/* index -------------------------------------------------------------------------------- */

body{
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: var(--fondo, linear-gradient(#200c1f,rgb(65, 28, 65),rgb(94, 38, 90),rgb(74, 15, 74) ));
}

.ancho-total{
    width: 100%;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-juego-mas-jugado{
    display: flex;
    justify-content: center;
}

.juegos-mas-jugados{
    display: flex;
    background-color: #25064B;
    align-items: center;
    flex-direction: column;
    width: 65%;
    border-radius: 50px;
    padding: 20px;
    margin: 4%;
}

.mas-jugados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-mas-jugados{
    border-radius: 30px;
    margin-top: 20px;
}

.imagen-mas-jugados img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 10px 10px #7236BD;
}

.texto-mas-jugados{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 50%;
    width: 100%;
    align-items: center;
    margin: 20px 0px;
    justify-items: center;
    text-align: center;
}

.titulo-mas-jugado h1 p,.titulo-mas-jugado h4 p{
    display: flex;
    justify-content: center;
}

.div-boton-jugar{
    display: flex;
    width: 75%;
    height: 70%;
    background-color: #C50766;
    box-shadow: 4px 5px 2px #8a0547;
    padding: 10px 10px 15px 10px;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
	transition: .3s ease all;
	position: relative;
	overflow: hidden;
}

.div-boton-jugar span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.div-boton-jugar::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .6s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.div-boton-jugar:hover::after {
	transform: scale(150);
	background: #F60E82;
}


.div-boton-jugar a h2{
    font-size: 2.5rem
}


.carruseles{
    width: 95%;
    position: relative;
    z-index: 500;
	transition: .2s ease all;
}

.carruseles, .carrusel{
    scroll-behavior: smooth;
    overflow: visible;
}

.contenido{
    margin: 3% 0;
}

.carrusel{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transition: all 0.4s ease;
}

.contenedor-car{
    background-color: #3c0a789e;
    border-radius: 10px;
    height: auto;
    margin: 0 10px;
    padding: 2%;
  
}

.contenedor-car .car-juegos{
    display: flex;
    flex-flow: row nowrap;
    transition: all 0.5s ease;
    overflow: hidden;
}

.elemento{
    border-radius: 10px;
    height: 95%;
    width: 30%;
    margin: 0px 1%;
	transition: .3s ease all;
}

.flecha img{
    cursor: pointer;
}

.flecha-der img{
    cursor: pointer;
    transform: rotate(180deg);
}


.logo{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

a{
    text-decoration: none;
}

/* parte de juego ------------------------------------------------------------------------------------------- */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.juego{
    display: grid;
    grid-template-rows: 95% 5%;
    justify-items: center;
    align-items: center;
    width: 90%;
    background-color: #25064B;
    height: 90%;
    border-radius: 50px;
    margin-top: 3%;
    padding:10px;
}

.juego img{
    width: 95%;
    margin: 10px;
}

.juego h4{
    margin-left: 3.3%;
    margin-bottom: 2%;
}

.secciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.general{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 10px;
    margin: 4% 0px;
}

.ayuda{
    background-color: #7236BD;
    border-radius: 15px;
}

.titulo-ayuda{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3B0A78;
    padding: 6% 3%;
    border-radius: 10px 10px 0px 0px;
}

.titulo-ayuda h2{
    padding: 0px 10px;
}

.texto-ayuda{
    padding: 4% 4%;
}

.seccion{
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5910B7;
    height: 60px;
    border-radius: 50px;
}

.calificar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0px 10px;
    width: 40%;
    justify-items: center;
}

.dislike, .like{
    cursor: pointer;
}

.compartir{
    display: flex;
    background-color: #660561;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 66%;
    padding: 0px 2%;
    margin: 2%;
    border-radius: 50px;
    box-shadow: 2px 3px #540351;
    cursor: pointer;
}

.compartir h3,.compartir img{
    margin: 0 4%;
}

.compartir-box{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    background-color: #4F0EA2;
    box-shadow: 0 0 0 150vh rgb(0 0 0 / 50%);
    top: 32%;
}

.box-head{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25064B;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
}

.box-body{
    padding: 5% 3%;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 80%;
    margin-left: 40px;
}

.redes img{
    height: 50px;
    width: 50px;
}

.link{
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
}

.link input{
    width: 90%;
    height: 50px;
    border-radius: 25px;
}

.copiar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 20px;
    background-color: #25064B;
    border-radius: 40px;
}

.comp-botones{
    display: flex;
    margin: 10px 0px; 
}

.btn-cancelar, .btn-hecho{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

.btn-hecho{
    background-color: #3B0A78 ;
}

.btn-cancelar{
    background-color: #C50766;
}

.descripcion{
    background-color: #7236BD;
    border-radius: 15px;
}

.titulo-descripcion{
    display: flex;
    justify-content: start;
    background-color: #3B0A78;
    padding: 3% 3%;
    border-radius: 10px 10px 0px 0px;
}

.texto-descripcion{
    padding: 3% 2%;
}

.imagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr ;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #25064B;    
    border-radius: 20px;
}

.imagen{
    width: 87%;
    height: 80%;
    margin: 10px;
    background-color: rgb(204, 230, 255);
    border-radius: 10px;
}

.comentarios{
    width: 100%;
    margin: 4% 0px;
}

.com-head{
    display: flex;
    border-radius: 10px 10px 0px 0px;
    height: auto;
    background-color: #3B0A78;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.com-head .com-inp{
    display: flex;
    width: 100%;
}

.com-text{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 15px;
    align-items: center;
    padding: 15px;
}

.com-body{
    display: grid;
    grid-template-rows: repeat(8,1fr) ;
}

.com-usu{
    display: grid;
    grid-template-columns: 10% 90%;
    justify-items: start;
    align-items: center;
    background-color: #5910B7;
    padding: 10px;
}

.com-usu:nth-child(2n){
    background-color: #7236BD;
}

.com-usu:last-child{
    border-radius: 0px 0px 10px 10px;
}

.imag-usu{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
}

.texto-usu{
    padding: 10px;
}

.btn-enviar{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 66%;
    background-color: #C50766;
    box-shadow: 4px 5px 2px #8A0547;
    padding: 10px 10px 15px 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 4%;
}


/* input ---------------------------------------------------------------------------------------------------------*/

.input-form,.inp-comentario{
    border-radius: 25px;
    padding: 0px 0px 0px 20px;
    grid-gap: 15px;
}

.inp-comentario{
    width: 100%;
}

.input-form{
    height: 45px;
    width: 80%; 
}

/* inicio sesion ------------------------------------------------------------------------ */

.formulario{
    width: 75%;
    background-color: #4F0EA2;
    border-radius: 30px;
}

.form-head{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    height: 60px;
    background-color: #3B0A78;
    margin-bottom: 10px;
}

.form-body{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.form-up{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 20px;
    width: 90%;
    justify-items: center;
}

.form-inp{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 25px;
    width: 100%;
}

.btn-entrar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #25064B;
    box-shadow: 4px 5px #3b0a78;
    height: 40px;
    width: 60%;
    padding: 10px 20px 15px 20px;
}

.btn-entrar a h2{
    font-size: 2rm;
}

.register{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    align-items: center;
    height: auto;
}

.link-regis{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.link-regis p {
    margin: 10px;
}

.divicion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.o{
    color: #FFFFFF;
    font-size: 30px;
}

.linea{
    width: 40%;
    background-color: #FFFFFF;
    height: 3px;
}

.btn-opcionales{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap:20px;
    margin: 20px 0px;
    height: auto;
    width: 100%;
}

.facebook{
    background-color: rgb(82, 137, 218);
}

.google{
    background-color: #FFFFFF;
}

.facebook , .google{
    border-radius: 25px;
    width: 80%;
    height: 50px;
}

/* registro --------------------------------------------------------------------- */

.form-inp-regis{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 15px;
    height: auto;
    margin: 20px 0px;
}

.form-head-res{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    height: 60px;
    background-color: #3B0A78;
    margin-bottom: 10px;
    padding: 5px 20px;
}

.form-persona{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 90%;
}

.form-persona .input-form{
    width: 75%;
}

.form-naci{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.form-naci .input-form{
    width: 65%;
}

.btn-entrar-res{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #25064B;
    box-shadow: 4px 5px #3b0a78;
    height: 40px;
    width: 70%;
    padding: 10px 20px 15px 20px;
}

@media only screen and (min-width: 1024px) {
  
    header{
        padding: 1.5%;
    }


    .juegos-mas-jugados{
        width: 50%;
    }

    .titulo-juego-mas-jugado{
        display: flex;
        justify-content: flex-start;
    }

    .mas-jugados {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .imagen-mas-jugados img {
        box-shadow: 8px 8px 10px #7236bd;
    }    

    .texto-mas-jugados{
        display: grid;
        grid-template-rows: 2fr 1fr;
        height: 50%;
        width: 30%;
        align-items: center;
        margin: 0 0 0 20px;
        justify-items: center;
        text-align: center;
    }

    .div-boton-jugar a h2{
        font-size: 1.5rem
    }
    
    .div-boton-jugar{
        width: 50%;
    }

    .div-boton-jugar{
        width: 80%;
        height: auto;
    }
    
    .elemento{
        min-width: 18%;
    }

    .general{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .juego{
        width: 70%;
    }

    .secciones{
       width: 80%;
    }

    .compartir{
        width: 25%;
    }

    .calificar{
        display: flex;
        justify-content: space-evenly;
        width: 25%;
    }

    .imagenes{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        height: 150px;
    }

    .imagen{
        width: 87%;
        height: 80%;
        margin: 10px;
        background-color: rgb(204, 230, 255);
        border-radius: 10px;
    }

    .com-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5%;
    }

    .com-head .com-inp{
        width: 70%;
    }

    .com-usu{
        display: grid;
        grid-template-columns: 6% 94%;
    }


    .inp-comentario{
        width: 100%;
    }


    .formulario{
        width: 30%;
    }

    .btn-entrar{
        height: 40px;
        width: 60%;
    }

    .btn-entrar-res{
        height: 25px;
        width: 50%;
    }

}

.indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}
.indicadores button.activo {
	background: red;
}
